*.aux
#*.bbl
*.blg
*.log
*.maf
*.toc
*.mtc*
*.out
*backup

*.sty
*.png
#*.pdf
*~

.ipynb_checkpoints
temp/
functions/__pycache__/
functions/cython/build/
functions/cython/__pycache__/
functions/C/*.o
