*.aux
#*.bbl
*.blg
*.log
*.maf
*.toc
*.mtc*
*.out
*backup

*.sty
*.png
#*.pdf
*~

.ipynb_checkpoints
temp
build
python-venv
src/FMNM/__pycache__/
src/FMNM/cython/build/
src/FMNM/cython/__pycache__/
src/C/*.o
src/FMNM/FMNM.egg-info
src/FMNM.egg-info
src/*.so
